@charset "utf-8";
/* CSS Document */
.ui-widget-content {
	background:#000;
	font-family:Arial, Helvetica, sans-serif;
	padding:0px;
	
}
.ui-dialog{
	padding:0px;
	border:15px #404040 solid;
	-moz-box-shadow:0px 0px 3px #000;
  -webkit-box-shadow:0px 0px 3px #000;
  box-shadow:0px 0px 15px #000;
  -moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;

	
}
.ui-dialog-titlebar-close ui-corner-all ui-state-hover{background:#fff;}
.ui-dialog .ui-dialog-content{padding:10px 30px 20px 30px; }
.ui-widget {
	background:#fff;
	
}
.ui-widget-header{
	background:none;
	border:none;
	font-size:18px;
	border-bottom:1px #d1d1d1 dashed;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}
.ui-dialog .ui-dialog-titlebar{
	padding:10px 0px 10px 10px;
}
.ui-dialog .ui-dialog-titlebar-close{
	 position: absolute;
	right:0;
	top:20%;
	width: 19px;
	height: 18px;
	 }
.ui-widget input[type="text"], textArea, select{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:1px #dddddd solid;
	padding:5px 5px;
	-moz-box-shadow:inset 0px 0px 3px #e2e3e3;
  -webkit-box-shadow:inset 0px 0px 3px #e2e3e3;
  box-shadow:inset 0px 1px 5px #e2e3e3;
}
.ui-widget input[type="submit"], button{
	padding:0px 10px;
	margin:0px;
	background:url(../images/fbut-bg.png) repeat-x;
	height:30px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:1px #b58530 solid;
	color:#633c15;
	font-size:12px;
	cursor:pointer;
	text-shadow: 0.1em 0.1em #fdbd59;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}
.ui-widget .formbut:hover{background:url(../images/fbut-bg-h.png) repeat-x;}
.ui-widget label{font-size:14px; letter-spacing:.001em; color:#666;  font-weight:bold; padding:10px 0px 5px 3px; display:block}

.ui-widget h2{
	
	padding:0px 0px;
	margin:0px;
	color:##404040;
	font-size:22px;
	font-weight:normal;
}
.ui-widget h3{
	
	padding:10px 0px 6px 0px;
	margin:0px 0px 10px 0px;
	color:#D5861C;
	font-size:16px;
	font-weight:bold;
	border-bottom:1px #dddddd dashed;
}
.ui-widget td{padding:0px 0px;}
.ui-widget h2 span{ color:#2bad0f}
.ui-icon{
	margin-top:50px;
}
.ui-menu {
list-style: none;
padding: 8px;
margin: 0;
display: block;
float: left;
}

.ui-datepicker-header{
	background:#900;
}
