/* 
			 * The state classes are a little bit complex, because of the doubble class bug in IE6
			 * The state class looks like this:
			 * 
			 * .ui-radio-state[-checked][-disabled][-hover] or .ui-checkbox-state[-checked][-disabled][-hover]
			 * 
			 * Examples:
			 * 
			 * .ui-radio-state-checked (simply checked) 
			 * .ui-radio-state-checked-hover (checked and hovered/focused)
			 * .ui-radio-state-hover (unchecked and hovered/focused)
			 * 
			 */
			
			.ui-radio-state-disabled,
			.ui-radio-state-checked-disabled,
			.ui-radio-state-disabled-hover,
			.ui-radio-state-checked-disabled-hover {
				color: #999;
			}
			span.ui-checkbox,
			span.ui-radio {
				display: block;
				float: left;
				width: 16px;
				height: 16px;
				background: url(../images/bg-checkbox.gif) 0 -40px no-repeat;
			}
			span.ui-radio { background-position: 0 -200px; }
			span.ui-helper-hidden {
				display: none;
			}
			label {
				padding: 2px;
				
			}
			span.ui-checkbox-state-hover {
				background-position: 0 -120px;
			}
			
			span.ui-radio-state-hover {
				background-position: 0 -240px;
			}
			
			span.ui-checkbox-state-checked {
				background-position: 0 0;
			}
			
			span.ui-checkbox-state-checked-hover {
				background-position: 0 -80px;
			}
			span.ui-radio-state-checked-disabled-hover,
			span.ui-radio-state-checked-disabled,
			span.ui-radio-state-checked {
				background-position: 0 -160px;
			}
			
			
			span.ui-radio-state-checked-hover {
				background-position: 0 -160px;
			}

			.ui-helper-hidden-accessible {
				position: absolute;
				left: -999em;
			}
