<!--calendar style-->
#calendar {
		width: 900px;
		margin: 0 auto;
		}
		
.caltop{
	/*padding:1% 1% 2% 1%;*/
	padding:0px;
	position:relative;
	margin:0px 0 0 0px;
	background:url(../../images/tx_bg_gray01.png) repeat-x bottom;
	/*border-top:1px #CCC solid;
	border-left:1px #CCC solid;
	border-right:1px #CCC solid;*/
	border-bottom:1px #d9dbda solid;
	-moz-border-radius-topleft: 0px/*{cornerRadius}*/; -webkit-border-top-left-radius: 0px/*{cornerRadius}*/; border-top-left-radius: 0px/*{cornerRadius}*/; -moz-border-radius-topright: 0px/*{cornerRadius}*/; -webkit-border-top-right-radius: 0px/*{cornerRadius}*/; border-top-right-radius: 0px/*{cornerRadius}*/;
	
	height:47px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	
}
.caltop h1{
	font-size:15px;
	font-weight:normal;
	color:#fff;
	padding:5px 0px 0px 0px;
	border-bottom:0px #ccc solid;
	margin-bottom:0px;
	display:none;
}
.calbottom{
	background:url(../images/pm_grid_top_bg_cal.png) repeat-x bottom;
	border-bottom:1px #CCC solid;
	border-left:1px #CCC solid;
	border-right:1px #CCC solid;
	-moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomright: 0px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/;
	width:100%;
	height:40px;
}


/*
 * FullCalendar v1.5.1 Stylesheet
 *
 * Copyright (c) 2011 Adam Shaw
 * Dual licensed under the MIT and GPL licenses, located in
 * MIT-LICENSE.txt and GPL-LICENSE.txt respectively.
 *
 * Date: Sat Apr 9 14:09:51 2011 -0700
 *
 */
.cal_Con{
	-moz-box-shadow: 0px 2px 12px #d2d2d2;
  	-webkit-box-shadow: 0px 2px 12px #d2d2d2;
  	box-shadow: 0px 2px 12px #d2d2d2;
  	-moz-border-radius: 4px;
	border-radius:4px;
	width:100%;
	background:#dddddd;
}

.fc {
	direction: ltr;
	text-align: left;
	background:#FFF;
	-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px 3px 3px 1px;
border:#bdc1c5 1px solid;
-moz-box-shadow:0px 0px 8px #e7e5e5;
  	-webkit-box-shadow: 0px 0px 8px #e7e5e5;
  	box-shadow: 0px 0px 8px #e7e5e5;
	border-bottom:#bdc1c5 1px solid;
	
	}
	
.fc table {
	border-collapse: collapse;
	border-spacing: 0;
	}
	
html .fc,
.fc table {
	font-size: 1em;
	color:#56717f;
	}
	
.fc td,
.fc th {
	padding: 0;
	vertical-align: top;
	padding:0px 10px 0px 10px ;
	}



/* Header
------------------------------------------------------------------------*/

.fc-header td {
	white-space: nowrap;
	padding-top:20px;
	
	}

.fc-header-left {
	width: 100%;
	text-align: left;
	position:absolute;
	top:69px;
	left:0px;
	}
	
.fc-header-center {
	text-align: center;
	position:absolute;
	left:225px;
	top:75px;
	}
	
.fc-header-right {
	width: 50%;
	text-align: right;
	position:absolute;
	top:8px;
	right:0px;
	}
	
.fc-header-title {
	display: inline-block;
	vertical-align: top;
	}
	
.fc-header-title h2 {
	margin-top: 0px;
	white-space: nowrap;
	font-size:13px;
	padding:0px;
	color:#505050;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
	
.fc .fc-header-space {
	padding-left: 10px;
	padding-top:20px;
	}
	
.fc-header .fc-button {
	margin-bottom: 1em;
	vertical-align: top;
	}
	
/* buttons edges butting together */

.fc-header .fc-button {
	margin-right: -1px;
	}
	
.fc-header .fc-corner-right {
	margin-right: 1px; /* back to normal */
	}
	
.fc-header .ui-corner-right {
	margin-right: 0; /* back to normal */
	}
	
/* button layering (for border precedence) */
	
.fc-header .fc-state-hover,
.fc-header .ui-state-hover {
	z-index: 2;
	}
	
.fc-header .fc-state-down {
	z-index: 3;
	}

.fc-header .fc-state-active,
.fc-header .ui-state-active {
	z-index: 4;
	}
	
	
	
/* Content
------------------------------------------------------------------------*/
	
.fc-content {
	clear: both;
	background:#fff;
	/*border:1px #cccccc solid;*/
	padding:5px 0px 0px 0px;
	/*-moz-box-shadow:0px 0px 8px #e7e5e5;
  	-webkit-box-shadow: 0px 0px 8px #e7e5e5;
  	box-shadow: 0px 0px 8px #e7e5e5;*/
  	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-top:70px;
	}
	
.fc-view {
	width: 100%; /* needed for view switching (when view is absolute) */
	overflow: hidden;
	/*border-right:1px #cccccc solid;
	border-left:1px #cccccc solid;*/
	
	}
	
	

/* Cell Styles
------------------------------------------------------------------------*/

.fc-widget-header,    /* <th>, usually */
.fc-widget-content {  /* <td>, usually */
	border: 1px solid #ccc;
	}
	

	
.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #fff;
	 box-shadow:inset 0 0 10px #000000;
	-moz-box-shadow:inset 0 0 10px #000000;
	opacity: .2;
	filter: alpha(opacity=20); /* for IE */
	}
	


/* Buttons
------------------------------------------------------------------------*/

.fc-button {
	position: relative;
	display: inline-block;
	cursor: pointer;
	}
	
.fc-state-default { /* non-theme */
	border-style: solid;
	border-width: 1px 0;
	}
	
.fc-button-inner {
	position: relative;
	float: left;
	overflow: hidden;
	}
	
.fc-state-default .fc-button-inner { /* non-theme */
	border-style: solid;
	border-width: 0 1px;
	}
	
.fc-button-content {
	position: relative;
	float: left;
	height: 1.9em;
	line-height: 1.9em;
	padding: 3px 20px;
	white-space: nowrap;
	font-size:12px;
	}
	
/* icon (for jquery ui) */
	
.fc-button-content .fc-icon-wrap {
	position: relative;
	float: left;
	top: 50%;
	}
	
.fc-button-content .ui-icon {
	position: relative;
	float: left;
	margin-top: -50%;
	*margin-top: 0;
	*top: -50%;
	}
	
/* gloss effect */
	
.fc-state-default .fc-button-effect {
	position: absolute;
	top: 50%;
	left: 0;
	}
	
.fc-state-default .fc-button-effect span {
	position: absolute;
	top: -100px;
	left: 0;
	width: 500px;
	height: 100px;
	/*border-width: 100px 0 0 1px;*/
	
	
	background: none;
	opacity: .09;
	filter: alpha(opacity=9);
	}
	
/* button states (determines colors)  */
	
.fc-state-default,
.fc-state-default .fc-button-inner {
	border-style: solid;
	border-color: #d8d9dd;
	background: #fff;
	color: #000;
	}
	
.fc-state-hover,
.fc-state-hover .fc-button-inner {
	border-color: #b1b1b1;
	}
	
.fc-state-down,
.fc-state-down .fc-button-inner {
	border-color: #cccdd2;
	background: #e6e7ea;
	}
	
.fc-state-active,
.fc-state-active .fc-button-inner {
	border-color: #555;
	background: url(../images/navli-bg.png) repeat-x scroll center bottom #525252;
	color: #fff;
	}
	
.fc-state-disabled,
.fc-state-disabled .fc-button-inner {
	color: #999;
	border-color: #dfe6ec;
	}
	
.fc-state-disabled {
	cursor: default;
	}
	
.fc-state-disabled .fc-button-effect {
	display: none;
	}
	
	


	
	
/* Horizontal Events
------------------------------------------------------------------------*/

.fc-event-hori {
	border-width: 1px 0;
	margin-bottom: 1px;
	}
	
/* resizable */
	
.fc-event-hori .ui-resizable-e {
	top: 0           !important; /* importants override pre jquery ui 1.7 styles */
	right: -3px      !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: e-resize;
	}
	
.fc-event-hori .ui-resizable-w {
	top: 0           !important;
	left: -3px       !important;
	width: 7px       !important;
	height: 100%     !important;
	cursor: w-resize;
	}
	
.fc-event-hori .ui-resizable-handle {
	_padding-bottom: 14px; /* IE6 had 0 height */
	}
	
	
	
/* Fake Rounded Corners (for buttons and events)
------------------------------------------------------------*/
	
.fc-corner-left {
	margin-left: 1px;
	}
	
.fc-corner-left .fc-button-inner,
.fc-corner-left .fc-event-inner {
	margin-left: -1px;
	}
	
.fc-corner-right {
	margin-right: 1px;
	}
	
.fc-corner-right .fc-button-inner,
.fc-corner-right .fc-event-inner {
	margin-right: -1px;
	}
	
.fc-corner-top {
	margin-top: 1px;
	}
	
.fc-corner-top .fc-event-inner {
	margin-top: -1px;
	}
	
.fc-corner-bottom {
	margin-bottom: 1px;
	}
	
.fc-corner-bottom .fc-event-inner {
	margin-bottom: -1px;
	}
	
	
	
/* Fake Rounded Corners SPECIFICALLY FOR EVENTS
-----------------------------------------------------------------*/
	
.fc-corner-left .fc-event-inner {
	border-left-width: 1px;
	margin:0px 6px 20px 0px;
	padding:0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: -1px 3px 6px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    -1px 3px 6px rgba(50, 50, 50, 0.4);
	box-shadow:         -1px 3px 6px rgba(50, 50, 50, 0.4);	
	position: relative;
	}
	
	
.fc-corner-right .fc-event-inner {
	border-right-width: 1px;
	}
	
.fc-corner-top .fc-event-inner {
	border-top-width: 1px;
	}
	
.fc-corner-bottom .fc-event-inner {
	border-bottom-width: 1px;
	}
	
	
	
/* Reusable Separate-border Table
------------------------------------------------------------*/

table.fc-border-separate {
	border-collapse: separate;
	
	}
	
.fc-border-separate th,
.fc-border-separate td {
	border-width: 0px 1px 1px 0px;
	padding:15px 0px;
	border-color:#cccccc;
	
	}
	
.fc-border-separate th.fc-last,
.fc-border-separate td.fc-last {
	border-right-width: 0px;
	
	
	}
.fc-border-separate tr.fc-last th
	{
		border-bottom-width: 1px;
		border-top:#cccccc 1px solid;
	}
	

.fc-border-separate tr.fc-last td {
	border-bottom-width: 1px;
	border-bottom:none;
	
	
	
	}
.fc-border-separate tbody tr.fc-first td,
.fc-border-separate tbody tr.fc-first th {
	border-top-width: 0;
	
	
	}
	
	

/* Month View, Basic Week View, Basic Day View
------------------------------------------------------------------------*/

.fc-grid th {
	text-align: center;
	}
	
.fc-grid .fc-day-number {
	float: right;
	padding: 0 8px 0 2px;
	font-size:15px;
	color:#637f8b;
	font-family:Verdana, Geneva, sans-serif;
	}
	
.fc-grid .fc-other-month .fc-day-number {
	opacity: 0.3;
	filter: alpha(opacity=1); /* for IE */
	/* opacity with small font can sometimes look too faded
	   might want to set the 'color' property instead
	   making day-numbers bold also fixes the problem */
	}
	
.fc-grid .fc-day-content {
	clear: both;
	padding: 2px 2px 1px; /* distance between events and day edges */
	}
	
/* event styles */
.fc-event-time {
	font-weight: bold;
	margin:0px;
	padding:10px 0px 10px 5px;
	color:#fff;
	background:url(../../images/tx_bg.png) repeat;
	max-height:64px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position:relative;
	display:block;
	}	
.fc-grid .fc-event-time {
	font-weight: bold;
	margin:0px;
	padding:10px 0px 10px 5px;
	color:#fff;
	background:url(../../images/tx_bg.png) repeat;
	max-height:64px;
	font-size:12px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position:relative;
	display:block;
	}
	
/* right-to-left */
	
.fc-rtl .fc-grid .fc-day-number {
	float: left;
	}
	
.fc-rtl .fc-grid .fc-event-time {
	float: right;
	}
	
	

/* Agenda Week View, Agenda Day View
------------------------------------------------------------------------*/

.fc-agenda table {
	border-collapse: separate;
	
	}
	
.fc-agenda-days th {
	text-align: center;
	background:url(../../images/cal-left-bg.png) repeat-x;
	}
	
.fc-agenda .fc-agenda-axis {
	width: 50px;
	padding: 0 4px;
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
	font-weight: normal;
	background:#fbfbfb;
	border-right:#dfe6ec solid 1px;
	
	
	
	
	}
	
.fc-agenda .fc-day-content {
	padding: 2px 2px 1px;
	}
	
/* make axis border take precedence */
	
.fc-agenda-days .fc-agenda-axis {
	border-right-width: 1px;
	
	}
	
.fc-agenda-days .fc-col0 {
	border-left-width: 0;
	
	}
	
/* all-day area */
	
.fc-agenda-allday th {
	border-width: 0 0px;
	}
	
.fc-agenda-allday .fc-day-content {
	min-height: 34px; /* TODO: doesnt work well in quirksmode */
	_height: 34px;
	}
	
/* divider (between all-day and slots) */
	
.fc-agenda-divider-inner {
	height: 2px;
	overflow: hidden;
	}
	
.fc-widget-header .fc-agenda-divider-inner {
	background: #eee;
	}
	
/* slot rows */
	
.fc-agenda-slots th {
	border-width: 1px 0px 0;
	}
	
.fc-agenda-slots td {
	border-width: 1px 0 0;
	background: none;
	}
	
.fc-agenda-slots td div {
	height: 20px;
	}
	
.fc-agenda-slots tr.fc-slot0 th,
.fc-agenda-slots tr.fc-slot0 td {
	border-top-width: 0;
	}

.fc-agenda-slots tr.fc-minor th,
.fc-agenda-slots tr.fc-minor td {
	border-top-style: dotted;
	}
	
.fc-agenda-slots tr.fc-minor th.ui-widget-header {
	*border-top-style: solid; /* doesn't work with background in IE6/7 */
	}
	


/* Vertical Events
------------------------------------------------------------------------*/
.fc-state-highlight { /* <td> today cell */ /* TODO: add .fc-today to <th> */
	/*background: #ffc;*/
	background:#fdfbe9;
	}
.fc-today
{
	background:#fdfbe9;
}
.fc-event-vert {
	border-width: 0 0px;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
	background:#fff;
		margin:0px 6px;
	padding:0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: -1px 3px 6px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    -1px 3px 6px rgba(50, 50, 50, 0.4);
	box-shadow:         -1px 3px 6px rgba(50, 50, 50, 0.4);	
	}
	
.fc-event-vert .fc-event-head,
.fc-event-vert .fc-event-content {
	position: relative;
	z-index: 2;
	width: 100%;
	overflow: hidden;
	
	
	}
.fc-event-title
{
	padding:20px 10px ;
	margin:0px;
	font-size:11px;
	display:block;
	min-height:50px;
	word-wrap: break-word;
	background:#fff;
}
	
.fc-event-vert .fc-event-time {
	white-space: nowrap;
	font-size: 11px;
	margin:0px 0px 0px 0px;
	padding:10px 0px 10px 5px;
	background:url(../../images/tx_bg.png) repeat;
	max-height:64px;
	
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position:relative;
	color:#fff;
	}
	
.fc-event-vert .fc-event-bg { /* makes the event lighter w/ a semi-transparent overlay  */
	
	}
	
.fc .ui-draggable-dragging .fc-event-bg, /* TODO: something nicer like .fc-opacity */
.fc-select-helper .fc-event-bg {
	display: none\9; /* for IE6/7/8. nested opacity filters while dragging don't work */
	}
	
/* resizable */
	
.fc-event-vert .ui-resizable-s {
	bottom: 0        !important; /* importants override pre jquery ui 1.7 styles */
	width: 100%      !important;
	height: 8px      !important;
	overflow: hidden !important;
	line-height: 8px !important;
	font-size: 11px  !important;
	font-family: monospace;
	text-align: center;
	cursor: s-resize;
	}
	
.fc-agenda .ui-resizable-resizing { /* TODO: better selector */
	_overflow: hidden;
	}
/*completed task style*/
.ct-wrapp{
	
	margin:5px 3px 5px 3px;
	background:url(../../images/ct-bg.png) repeat-x bottom;
	width:auto;
	color:#333;
	font-size:11px;
	border-bottom:1px solid #b2b4b6;
	border-left:1px solid #b2b4b6;
	border-top:1px solid #dbdcde;
	border-right:1px solid #dbdcde;
	-moz-border-radius: 4px;
	border-radius:4px;
	-moz-box-shadow: 0px 2px 5px #d2d2d2;
  -webkit-box-shadow: 0px 2px 5px #d2d2d2;
  box-shadow: 0px 2px 5px #d2d2d2;
  position:relative;
	
}
.left_clr_orange{
	width:auto;
	padding:30px 6px 30px 12px;
	background:url(../../images/orange-strip.png) repeat-y left;
	display:block;
	border:1px #FFF solid;
	-moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
}
.left_clr_green{
	width:auto;
	padding:6px 6px 6px 12px;
	background:url(../../images/green-strip.png) repeat-y left;
	display:block;
	border:1px #FFF solid;
	-moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
}
.left_clr_pink{
	width:auto;
	padding:6px 6px 6px 12px;
	background:url(../../images/pink-strip.png) repeat-y left;
	display:block;
	border:1px #FFF solid;
	-moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
}
.left_clr_blue{
	width:auto;
	padding:30px 6px 30px 12px;
	background:url(../../images/tx_bg.png) repeat;
	display:block;
	border:1px #FFF solid;
	-moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; -moz-border-radius-bottomleft: 0px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;
}

.ct-wrapp span{
	font-size:12px;
	color:#06C;
}
.ct-icon{
	position:absolute;
	right:-5px;
	bottom:-5px;
	width:19px;
	height:19px;
	background:url(../../images/ct-icon.png) no-repeat;
}
.mv-icon{
	position:absolute;
	right:-5px;
	bottom:-5px;
	width:19px;
	height:19px;
	background:url(../../images/mv-icon.png) no-repeat;
}
.sub-icon{
	position:absolute;
	right:-5px;
	bottom:-5px;
	width:19px;
	height:19px;
	background:url(../../images/sub-icon.png) no-repeat;
}
.ret-icon{
	position:absolute;
	right:-5px;
	bottom:-5px;
	width:19px;
	height:19px;
	background:url(../../images/ret-icon.png) no-repeat;
}
.pe-icon{
	position:absolute;
	right:-5px;
	bottom:-5px;
	width:19px;
	height:19px;
	background:url(../../images/pe-icon.png) no-repeat;
}	
	
	/*eventsstyle*/
	
	.evntbx
{
	margin:0px 6px;
	padding:0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: -1px 3px 6px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    -1px 3px 6px rgba(50, 50, 50, 0.4);
	box-shadow:         -1px 3px 6px rgba(50, 50, 50, 0.4);	
}

.evntbx_top
{
	margin:0px;
	padding:5px 3px;
	background:url(../../images/tx_bg.png) repeat;
	max-height:64px;
	min-height:25px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	position:relative;

}
.eventscap
{
	margin:0px;
	padding:0px;
	position:absolute;
	top:0px;
	right:0px;
	width:20px;
	height:22px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	border-top-right-radius: 2px;
}
.greencap
{
	background:url(../../images/eventscap.png) no-repeat;

}
.redcap
{
	background:url(../../images/eventscap_red.png) no-repeat;
}
.yellowcap
{
	background:url(../../images/eventscap_yellow.png) no-repeat;
}
.bluecap
{
	background:url(../../images/eventscap_blue.png) no-repeat;
}

.evntbx_top ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.evntbx_top li
{
	margin:0px;
	padding:0px;
	color:#fff;
	font-size:11px;
}
.evntbx_bot
{
	margin:0px;
	padding:10px 3px;
	background:#fff;
	min-height:33px;
	-webkit-border-bottom-right-radius: 3px;
-webkit-border-bottom-left-radius: 3px;
-moz-border-radius-bottomright: 3px;
-moz-border-radius-bottomleft: 3px;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px
}
.evntbx_bot ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.evntbx_bot li
{
	margin:0px;
	padding:0px;
	color:#537388;
	font-size:11px;
	
}



.ebttnbx
{
	margin:0px;
	padding:0px;
	
	
}

.search_btnbx
{
	width:100%;
	padding:0px;
	margin:40px 0px 0px 0px;
	position:relative;
}

.bttns_calendar
{
	margin:0px;
	padding:0px;
	position:absolute;
	top:-32px;
	left:10px;
	/*border:#364856 1px solid;*/
	border:#a0a0a0 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*background: #fcfcfc url(../../images/eventsbtn_bg.png) repeat-x bottom;*/
	background: #fcfcfc url(../../images/filterbttn_bg.png) repeat-x bottom;
	-moz-box-shadow: 0 0 3px #fff;
	-webkit-box-shadow: 0 0 3px #fff;
	box-shadow: 0 0 3px #fff;
}
.bttns_calendar ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.bttns_calendar li
{
	margin:0px;
	padding:0px;
	float:left;
	
}
.bttns_calendar li a
{
	

	margin:0px;
	padding:7px 10px 7px 32px;
	font-size:12px;
	border-right:#a0a0a0 1px solid;
	display:block;
	color:#313133;
	font-weight:bold;
	/*color:#fff;
	font-weight:bold;
	text-shadow: 0.1em 0.1em #364856;*/
	
	
}
.bttns_calendar li a.import_contact
{
	background: url(../../images/addevents_icon.png) no-repeat 8px 7px ;
		
}
.bttns_calendar li a.last
{
	border:none;
}



.bttns_addevent
{
	margin:0px;
	padding:0px;
	position:absolute;
	top:-32px;
	left:150px;
	border:#a0a0a0 1px solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background: #fcfcfc url(../../images/filterbttn_bg.png) repeat-x bottom;
	
}
.bttns_addevent ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.bttns_addevent li
{
	margin:0px;
	padding:0px;
	float:left;
	
}
.bttns_addevent li a
{
	

	margin:0px;
	padding:7px 10px 7px 32px;
	font-size:12px;
	border-right:#a0a0a0 1px solid;
	display:block;
	color:#313133;
	font-weight:bold;
	
	
}
.bttns_addevent li a.addbttn
{
	background: url(../../images/addeventsicon2.png) no-repeat 10px 9px ;
		
}
.bttns_addevent li a.last
{
	border:none;
}

.radiobx
{
	position:absolute;
	margin:0px;
	padding:0px;
	top:75px;
	right:10px;
	z-index:100;
}
.radiobx ul
{
	margin:0px;
	padding:0px;
	list-style:none;
}
.radiobx li
{
	margin:0px 7px;
	padding:0px;
	float:left;
}
.radiobx li span
{
	font-size:13px;
	font-weight:bold;
	color:#6a7780;
	margin:0px;
	padding:0px 0px 0px 0px;
	
}
	
.has-js .label_check,
.has-js .label_check { background: url(../../images/check-off.png) no-repeat; width:15px; height:15px; display:block; }
.has-js label.c_on { background: url(../../images/check-on.png) no-repeat; width:15px; height:15px; display:block; }
.has-js .label_check input,
.has-js .label_radio input { position: absolute; left: -9999px; }
.paperbtm_mid
{
	margin:0px;
	padding:0px;
	height:14px;
	background:url(../../images/paperbtm_mid.png) top repeat-x;
	height:14px;
}
.ui-resizable-handle{
	background:none;
}